<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - TradeSphere</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&family=Signika+Negative:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<style>
    h1,
    p,
    a,
    label {
        font-family: "Signika Negative", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        font-size: 12px;
        color: gray;
    }
</style>

<body class="bg-gray-100">

    <!-- Main Content -->
    <div class="container mx-auto md:mt-24 p-8">
        <!-- <h1 class="text-4xl font-bold text-center mb-12">Login</h1> -->
        <img src="https://cdn.pixabay.com/photo/2016/12/17/15/50/logo-1913689_1280.png" alt="logo"
            class="mx-auto w-16 mb-12" />
        <!-- Login Form -->
        <form class="bg-white shadow-lg rounded-lg p-8 max-w-md mx-auto">
            <div class="mb-4 mt-6">
                <label for="email" class="block font-bold mb-2">Email</label>
                <input type="email" id="email" name="email"
                    class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-400">
            </div>
            <div class="mb-4">
                <label for="password" class="block font-bold mb-2">Password</label>
                <input type="password" id="password" name="password"
                    class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-400">
            </div>


            <!-- Login Button -->
            <div class="mt-8">
                <button type="submit" style="background-color: #4570B4;"
                    class="w-full text-white px-6 py-2 rounded-md transition-colors duration-300">
                    Sign in
                </button>
            </div>

            <div class="flex justify-between items-center mb-4 mt-8">
                <a href="/password" style="color: #4570B4;" class="mx-auto">Forgot Password?</a>
            </div>
            <div class="flex justify-between text-black items-center mb-4">
                <a href="/signup" class="mx-auto">Don't have an account? <span style="color: #4570B4;">Sign
                        Up</span></a>
            </div>
        </form>
    </div>
</body>

</html>